@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400&family=Belanosima:wght@400;600;700&family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400&family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box ;

}

body {

    background: linear-gradient(white 100%, rgb(87, 170, 198));
    background-repeat: no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    font-family: Belanosima;
}

@media (min-width: 1550px) {
    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100vh;
    }
  }
  
  @media (min-width: 1200px) {
    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100vh;
    }
  }
  
  @media (min-width: 600px) {
    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }

header {
    padding: 20px 15px 0 15px;
    display: flexbox;
    justify-content: center;
    align-items: center;

  }

