.container {
  display:flexbox;
  justify-content: center;
  margin: 0;
}
.search-history {
  display: flex;
  flex-direction: column;
}

.day {
  background: #512c1c;
  color: white;
  list-style: none;
  padding: 10px 20px;
}

.five-day-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.five-day-forecast-header {
  padding: 20px 10px;
  font-size: 2rm;
}

.present-day-weather ul {
  list-style: none;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.btn {
  color: chocolate;
  
}

header {
  background: #bb551a;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 600;
  font-style: italic;
}
/* Tablets - landscape and portrait */
@media screen and (max-width: 1180px) {
  .five-day-forecast {
    flex-direction: column;
  }
  }

/* Small screens */
@media screen and (max-width: 576px) {
  .row.present-day-weather {
    --bs-gutter-x: 0rem;
    margin: 10px 0;
  }
  .present-day-weather ul {
    margin: 10px 0;
  }
}